/* <!--link rel="stylesheet" type="text/css" href="https://ymmtdisk.com/style.css"/--> */
/* <style type="text/css"> */
/* <!-- */
/***************/
body {
  font-family: Arial, Meiryo, Helvetica, sans-serif;
}
@media (min-width: 481px) {
  body {
    font-size: 18px !important;
    line-height: 1.8 !important;
  }
}
@media screen and (max-width: 480px) {
  .header-image-only #blog-title #blog-title-inner {
    height: 100px !important;
    background-size: contain;
  }
  .entry-content blockquote:before {
    font: 60px/1 Georgia,serif !important;
  }
  blockquote p {
    font-size: 1em !important;
  }
}

#blog-title {
  padding-top: 36px;
  padding-bottom: 36px;
}
@media screen and (min-width: 768px) {
  #blog-title {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

p {
  margin: 1.6em 0 1.6em;
}
div.entry-content p:first-child {
  margin: 0 0 1.6em;
}
span.parentheses {
  font-size: 80%;
}
/* 入れ子は予定していないが */
span.parentheses span.parentheses {
  font-size: 100%;
}


.mb-10 {
  margin-bottom: 10px !important;
}
.hidden {
  display: none;
}

/**
 * [PC・スマホ]サイト上の画像の保存をできる限り阻止する対策法 | hi-posi Front-End blog http://hi-posi.co.jp/tech/?p=232
 */
img {
  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
}

hr {
  background-color: #e4e4e4;
  border: 0;
  height: 30px;
  margin: 0 3% 1.6em;
}

.entry-content a.keyword {
  text-decoration: none;
  border-bottom: 1px dashed #ccc;
}
.entry-content summary {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  word-wrap: break-word;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, opacity .15s ease-in-out;
}
.entry-content summary:before {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\2756";
  /*color: #009;*/
}
.entry-content .twitter-tweet iframe {
    margin: 0 auto !important;
}

/**
 * Hタグ関連
 */
article h1,
.archive-entries h1 {
  font-size: 1.8em;
  font-weight: normal;
}
article h2,
h2.archive-heading,
.archive-header-category .archive-heading {
  font-size: 2em;
  font-weight: normal;
  border-left: 1px solid #333;
  margin: 2em 0 1em -15px;
  padding: 1.5em 0 .2em 15px;
/*   font-size: 30px; */
  /*font-weight: bold;*/
}
article h3,
#comment-area h2,
#related-entries h2 {
/*   font-size: 28px; */
  font-size: 1.8em;
  font-weight: normal;
  /*border-bottom: 1px solid #333;*/
  padding: .5em .5em .3em;
}
article h3 {
  border-left: 4px double #333;
  margin-left: -.5em;
  padding-left: .5em;
  font-weight: normal;
  margin-bottom: 1.5em;
}

/* h4以下共通部分 */
article h4,
article h5,
article h6 {
  position: relative;
  vertical-align: middle;
  color: #333;
  font-size: 1.4em;
  font-weight: normal;
  padding: 5px 0 0;
  padding-left: .5em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
article h4::before,
article h5::before,
article h6::before,
.hatena-module-title::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  /* font-size: 1.5em; */
  color: #999;
  line-height: 1;
  width: 1.6rem;
  height: 100%;
}

/* h4は装飾 */
article h4,
.hatena-module-title {
  position: relative;
  vertical-align: middle;
}
article h4::before,
.hatena-module-title::before {
  content: "\2588";
  top: 7px;
  left: -15px;
}
/* 記事下やサイドバーのタイトルはh4と同等の装飾 */
.hatena-module-title {
  font-size: 1em;
  font-weight: normal;
  margin-left: -1em;
  padding-left: 1em;
}
.hatena-module-title::before {
  font-size: 1em;
  width: 1em;
  top: 3px;
  left: 0;
}

article h5 {
  padding-left: 1.3em;
}
article h5::before {
  content: "\259B";
  top: 5px;
  left: 0;
  color: #ccc;
}

article h6 {
  font-size: 1.3em;
  padding-left: 1.2em;
}
article h6::before {
  content: "\259E";
  top: 6px;
  left: 0;
  color: #ccc;
}


/**
 * 本文関連項目
 */
.entry-content blockquote {
  font-style: normal;
  padding: 2.5em 1.6em 1.6em;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.entry-content blockquote:before {
    color: #ccc;
    background: transparent;
    content: "“";
    font: 80px/1 Georgia,serif;
    position: absolute;
    top: 0.5rem;
    left: 1.6rem;
    z-index: 0;
}
blockquote p {
  font-size: .8em;
  margin-bottom: 1.6em !important;
  z-index: 1;
}
blockquote cite {
  margin-top: 1em;
  margin-bottom: 1em;
}
.requote-button.is-visible {
    display: block;
    float: right;
}

ul,
ol {
  margin: 0 0 1.6em 2em;
  padding: 0;
}
.entry-content li {
  margin-bottom: .3em;
}

a.hatena-footnote {
	vertical-align: super;
	font-size: 75%;
	margin: 0 1px;
}
div.footnote {
	font-size: 75%;
	margin: 2em 0;
}
div.footnote::before {
	display: block;
	content: "";
	border-bottom: 30px solid #e4e4e4;
	margin: 0 3% 1.6em;
}
div.footnote p.footnote {
	margin: 0 0 .5em;
    padding-left: 1.8em;
    text-indent: -1.8em;
}
/* 続きを読むボタン、コメントボタン */
.entry-content a.entry-see-more,
.leave-comment-title {
	display: block;
    color: #eee;
    background-color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}
.entry-content a.entry-see-more:hover,
.leave-comment-title:hover {
    color: #eee;
    text-decoration: none;
    background-color: #555;
}
.leave-comment-title {
	display: inline-block;
}

/* 目次 */
.table-of-contents {
  margin: 0 0 1.6em;
  padding: 1em 0 !important;
  background: #f0f9ff;
}
.table-of-contents:before {
  content: "- 目 次 -";
  display: inline-block;
  font-weight: bold;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.table-of-contents > li {
  margin-left: 2em;
}
.table-of-contents li li {
  margin-left: 0;
}

/**
 * はてな関連
 */
.id {
  font-weight: normal;
}
/* はてなブックマーク数とはてなスター */
.hatena-bookmark-count img,
.hatena-star img,
.hateb_link img {
  margin: auto 5px;
  border: 0;
  vertical-align: middle;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.hateb_link.ready {
  margin: 0;
  display: none;
}
.hatena-star a {
  background-color: transparent !important;
}
/* はてなの埋め込みで同時に出力されるタグを非表示に。*/
cite.hatena-citation {
  display: none;
  visibility: hidden;
}

/**
 * 埋め込みの調整
 */
.entry-content iframe,
twitterwidget,
twitter-widget,
embed {
  display: block;
  max-width: 100%;
  max-height: auto;
  margin: 0 auto 1.6em !important;
}
div.twitter-tweet.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
.entry-content iframe.instagram-media {
	width: calc(75% - 2px) !important;
}
@media screen and (max-width: 480px) {
	.entry-content iframe.instagram-media {
		width: calc(100% - 2px) !important;
	}
}

/**
 * パンくずリスト
 */
#top-box {
  background-color: #fff;
  border-bottom: 0;
}
#top-box .breadcrumb {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**
 * 広告
 */
div.hatena-module-ad,
div.hatena-module-ad-footer {
  color: #ccc;
  text-align: center;
  width: 300px;
  margin: 5px auto;
}
div.hatena-ads-responsive {
  color: #ccc;
  text-align: center;
  width: auto;
  margin-bottom: 1.6em;
  overflow: hidden;
}
div.hatena-ads-responsive div.ad-area {
  height: 60px;
}
div.hatena-ads-responsive.large {
  margin-left: -12px;
  margin-right: -12px;
}
div.hatena-ads-responsive.large div.ad-area {
  height: 60px;
  max-height: 170px;
}
div.hatena-module div.hatena-ads-responsive {
  margin-left: -10px;
  margin-right: -10px;
}
div.hatena-module div.hatena-ads-responsive.rectangle {
  margin-left: -18px;
  margin-right: -18px;
}
div.hatena-module div.hatena-ads-responsive.skyscraper {
  margin-left: 0;
  margin-right: 0;
}
div.hatena-module div.hatena-ads-responsive div.ad-area {
  height: 60px;
  max-height: 250px;
}
div.hatena-module div.hatena-ads-responsive.rectangle div.ad-area {
  height: 280px;
  max-height: 280px;
}
div.hatena-module div.hatena-ads-responsive.skyscraper div.ad-area {
  height: auto;
  max-height: 600px;
}

@media (max-width: 320px) {
  div.hatena-ads-responsive {
    margin-left: -10px;
    margin-right: -10px;
  }
  div.hatena-module-ad {
    margin-left: -25px;
    margin-right: -25px;
  }
}

div.copyrights {
  background-color: #fff;
  text-align: center;
  padding: 0.5em;
}
div.copyrights p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/*============================ #flickrrrrrr ============================*/
iframe.flickr-embed-frame {
  margin: 0 auto !important;
  display: block;
}
[class*="flickr-wrp-"] {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/*横写真*/
.flickr-wrp-landscape {
  padding-top: 66.6992188%;
}
/*縦写真*/
.flickr-wrp-portrait {
  padding-top: 104.948755%;
  width: 70%;
  margin: auto;
}
[class*="flickr-wrp-"] iframe.flickr-embed-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.page-archive .entry-thumb {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 480px) {
  .page-archive .entry-thumb {
    width: 150px;
    height: 150px;
  }
}


/**
 * サイドバー周りの調整
 */
/* サイドバープロフィール部分で使用する */
.hatena-module-profile .hatena-module-body .profile-description ul {
  margin-bottom: 1.6em;
}
.about-subscription-count {
  display: block;
}
.js-about-subscriber span {
  display: block;
  clear: both;
}
.hatena-module-profile .hatena-module-body p {
  clear: both;
}
.entry-footer .entry-footer-modules
.hatena-module-profile .hatena-module-body .profile-icon {
	margin: 0 16px 32px 0;
}
.entry-footer .entry-footer-modules
.hatena-module-profile .hatena-module-body p {
	margin: .5em 0;
	clear: none;
}
.hatena-module-profile .hatena-module-body .profile-about {
  display: none;
}
.hatena-module-profile .hatena-module-body p a,
.hatena-module-profile .hatena-module-body li a {
	text-decoration: underline;
}
.entry-footer .entry-footer-section .author.vcard {
	display: none;
}

/**
 * ページ遷移ボタンの装飾
 */
div > span.pager-prev,
div > span.pager-next {
    display: block;
    width: auto;
    float: none;
}
.pager-prev::before,
.pager-next::before {
  content: "";
}
span.pager-prev + span.pager-next {
    margin-top: -4px;
}
div > span.pager-prev > a,
div > span.pager-next > a {
    display: block;
    padding: 1em 0;
    border-collapse: collapse;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
div > span.pager-prev > a:hover,
div > span.pager-next > a:hover {
    opacity: 0.75;
}

div > span.pager-prev > a:after,
div > span.pager-next > a:before {
    display: block;
    color: #eee;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
    overflow: hidden;
    padding: 0 1rem;
}
div > span.pager-prev > a:after {
    content: "PREV";
    float: right;
    text-align: right;
}
div > span.pager-next > a:before {
    content: "NEXT";
    float: left;
    text-align: left;
}
/* アーカイブ系のページャが#main-innerから外に出ている対策 */
@media screen and (min-width: 1024px) {
  .page-archive .pager.autopagerize_insert_before {
    padding-right: 54px;
  }
}

.hatena-urllist .embed-group,
.hatena-module-custom-membership-group .hatena-module-body ul li .embed-group {
  margin: 0;
}
.hatena-module-custom-membership-group .hatena-module-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hatena-module-custom-membership-group .hatena-module-body ul::after {
  content: "";
  visibility: visible;
  clear: both;
  display: block;
}
.hatena-module-custom-membership-group .hatena-module-body ul li {
  float: left;
  margin: 0 5px 5px 0;
}

/*
 * amazonへのリンクにアイコンを表示
 * widgetを使用した場合には非表示
 */
.amzn_link::after {
  font: normal normal normal .8em FontAwesome;
  content: "\f270";
  margin-left: .3em;
}
.hatena-asin-detail .amzn_link::after {
  content: "";
  margin-left: 0;
}

/* --> */
/* </style> */
